<h4>コメント欄</h4>

<div class="container">
        <div class="row">
            <div class="col offset-2">
                <!--ファイルをアップロードする場合は
                    enctype="multipart/fomr-data”が必要 -->
                <form method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>本の感想</th>
                            <td>{{ form.comment }}</td>
                        </tr>

                    </table>
                    <hr>
                    <button type="submit">投稿する</button>
                </form>
            </div>
        </div>
    </div>